<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <div class="form_addUser">
      <form action="/addUser" method="post">
        <fieldset>
          <legend>ADD USER</legend>
          <table>
            <tr>
              <td><label> Email: </label></td>
              <td><input type="text" name="email" /></td>
            </tr>
            <tr>
              <td><label> Họ và tên: </label></td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td><label> Thành phố: </label></td>
              <td><input type="text" name="city" /></td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btnsubmit" type="submit">Lưu</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </body>
</html>
