<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit user</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <% JSON.stringify(user) %>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/user">Create users</a>
      <!-- <a href="#contact">Contact</a>
      <a href="#about">About</a> -->
    </div>
    <div class="form_addUser">
      <form action="/handelUpdateUser" method="post">
        <fieldset>
          <legend>UPDATE USER</legend>
          <table>
            <tr class="no_display">
              <td></td>
              <td>
                <input type="text" name="userId" value="<%= user.id%>" />
              </td>
            </tr>
            <tr>
              <td><label> Email: </label></td>
              <td>
                <input type="text" name="email" value="<%= user.email%>" />
              </td>
            </tr>
            <tr>
              <td><label> Họ và tên: </label></td>
              <td>
                <input type="text" name="username" value="<%= user.name%>" />
              </td>
            </tr>
            <tr>
              <td><label> Thành phố: </label></td>
              <td>
                <input type="text" name="city" value="<%= user.city%>" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btnsubmit" type="submit">Lưu</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </body>
</html>
